{% extends 'base.html' %}

{% block title %}
{{ object.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    Категория: <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
  </div>
  <div class="card-body">
    <div class="d-flex flex-row bd-highlight mb-3">
      {% if item.photo %}
      <img src="{{ object.photo.url }}" alt="..." width="350" class="p-2 bd-highlight">
      {% else %}
      <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="..." class="p-2 bd-highlight">
      {% endif %}
      <div class="p-2 bd-highlight">
          <h5 class="card-title">{{ object.title }}</h5>
          <p class="card-text">{{ object.content }}</p>
          <a href="{{item.get_absolute_url}}" class="btn btn-primary">Read more...</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}